.united-states-map__main {
  margin: 40px 0 60px 0;

  .united-states-map__heading {
    color: white;
  }
}

/***** Map styles *****/
path {
  pointer-events: all;
}

path:hover {
  opacity: 0.5;
  cursor: pointer;
}
